- title "Edit user #{@user.name}"

%fieldset.form
  = form_for @user do |f|
    = render :partial => "users/form", :locals => {:f => f}
    %p.center
      = f.submit "Update"

= link_to "Back to users", users_path
