- content_for :head_css do
  = stylesheet_link_tag "forms"

%h2 Forgot your password?
%fieldset.form
  %legend
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    %p
      = f.label :email
      = f.email_field :email
    %p.center= f.submit "Send me reset password instructions"

= render :partial => "devise/shared/links"
