= show_errors_for f.object

%h2 General contact information:
%p
  = f.label :name, "Name:"
  = f.text_field :name
%p
  = label_tag :company_search_field, "Company:"
  = text_field_tag :company_search_field, (f.object.company ? f.object.company.name : "")
%p
  = f.label :comments, "Coments:"
  = f.text_area :comments

%div
  .fake-label Tags:
  %p
    = label_tag :add_tag, "Add a tag:", :id => "add-tag-label"
    = text_field_tag :add_tag
  %div#tags
    = render :partial => "tags/tags", :locals => {:tags => f.object.tags}

%h2 Phone numbers and Skype Contacts:
.fields#phone_numbers_skype_contacts
  = f.fields_for :phone_numbers do |f_phone|
    = render :partial => "phone_numbers/form", :locals => {:f => f_phone}
  = f.fields_for :skype_contacts do |f_skype|
    = render :partial => "skype_contacts/form", :locals => {:f => f_skype}

%p.center
  = add_child_link("Add new phone number", f, :phone_numbers, {:partial => "phone_numbers/form", :container => "phone_numbers_skype_contacts"})
  |
  = add_child_link("Add new Skype contact", f, :skype_contacts, {:partial => "skype_contacts/form", :container => "phone_numbers_skype_contacts"})
