- content_for :head_css do
  = stylesheet_link_tag "autocomplete", "forms"
- content_for :head_javascript do
  = javascript_include_tag "autocomplete", "forms", "contact_form"

= show_errors_for f.object

%h2 General contact information:
%p
  = f.label :name, "Name:"
  = f.text_field :name
%p
  = label_tag :company_search_field, "Company:"
  = text_field_tag :company_search_field, (f.object.company ? f.object.company.name : "")
%p
  = f.label :comments, "Coments:"
  = f.text_area :comments

%h2 Phone numbers:
.childs#phone_numbers
  = f.fields_for :phone_numbers do |f_phone|
    = render :partial => "phone_numbers/form", :locals => {:f => f_phone}

%p.center
  = link_add_child("Add new phone number", f, :phone_numbers, {:partial => "phone_numbers/form", :container => "phone_numbers"})

:javascript
  if ($("contact_name").value.length > 0) {
      $("company_search_field").focus();
  } else {
      $("contact_name").focus();
  }
