- content_for :head_css do
  = stylesheet_link_tag "autocomplete", "forms"
- content_for :head_javascript do
  = javascript_include_tag "autocomplete", "forms", "contact_form"

%h1= "Editing contact for #{@contact.name}"

%fieldset.form
  %legend
  = form_for @contact do |f|
    = render :partial => "form", :locals => {:f => f}
    %p
      = f.submit "Atualizar"
