- content_for :head_css do
  = stylesheet_link_tag "forms"
- content_for :head_javascript do
  = javascript_include_tag "forms"

%h1= "New contact"

%fieldset.form
  %legend
  = form_for @contact do |f|
    = render :partial => "form", :locals => {:f => f}
    %p
      = f.submit "Create"
