- title "Contact for #{@contact.name}"

%fieldset.show_data
  %legend
  %h2 General contact information:
  %p
    %span.key Name:
    %span.data= @contact.name

  %p
    %span.key Company:
    %span.data
      - if @contact.company.nil?
        %em No company set
      - else
        = @contact.company.name

  %p
    %span.key Tags:
    %span.data
      - tags = @contact.tags.collect{|tag| tag.name}
      - if tags.blank?
        %em No tags set
      - else
        %span#tags
          - tags.each do |tag|
            %span.tag
              %span
                = tag
  - unless @contact.comments.blank?
    %p
      %span.key Comments:
      %span.data= @contact.comments

  %h2 Phone Numbers and Skype Contacts:
  #phones_numbers
    - if not @dialing_options.empty?
      - ContactsHelper::DIAL_OPTIONS.each do |key|
        - break unless @dialing_options.include?(key)
        - option = @dialing_options[key]
        .dial-option{id: "dial-option-#{key}", 'data-phone-key': key, 'data-phone-type': option[:phone_type], 'data-phone-number': option[:phone_number], 'data-phone-path': option[:phone_path], 'data-dial-message': option[:dial_message]}
          %span.key
            %span{:class => "contact #{option[:phone_type].to_s}"}
              - if current_user_can_dial?
                = link_to "", "javascript:void(0)", {:id => "phone_#{key}"}
              = option[:phone_type].to_s.humanize + ":"
              = option[:phone_number]
          - if current_user_can_dial?
            %span.data
              %span.hotkey.start D
              +
              %span.hotkey.activate= key.to_s
            = render partial: 'dial_popup', locals: {key: key, option: option}

    - else
      %p No phone numbers have been added.

  - if user_signed_in? and not current_user_can_dial? and not @dialing_options.empty?
    %p.no-extension-message If you have a phone extension in your workstation, please talk to you network administrator to add the quick dial options for your contacts.

- if user_signed_in?
  = link_to "Edit", edit_contact_path(@contact)
