!!! Strict
%html
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}
    = csp_meta_tag
    = csrf_meta_tag
    = yield :head_meta
    %title= html_title
    = stylesheet_link_tag "application"
  %body
    #container
      #top
        .auth-status
          - if user_signed_in?
            = raw "Logged in as %{user_name}" % {:user_name => link_to(h(current_user.name), current_user)}
            [
            = link_to "Logoff", destroy_user_session_path
            ]
          - else
            You are not logged in
            [
            = link_to "Login", new_user_session_path
            ]

        %h1.main-title O.S. PhoneBook
        #tabs
          = raw render_tabs
      #content
        = render :partial => "hotkeys/hotkeys"
        - unless title.blank?
          %h2= title
        - if notice
          %p.notice= notice
        - if alert
          %p.alert= alert
        = yield
      #footer
        %p
          O.S. PhoneBook
          %br
          - year = Time.now.year
          - year = (year == 2011 ? "" : "-#{year}")
          = "Copyright © 2011#{year} O.S. Systems Softwares Ltda."

    = javascript_include_tag "application"
